.container{
    text-align: center;
}

.projects{
    display: flex;
    justify-content: center;
}

.inline-block{
    display: inline-block;
    background-color: green;
    margin: 6px;
    padding: 8px;
    width: 120px;
    height: 100px;
}
